@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-bg-color: #f3f6fb;
  --main-font-color: #0c0c20;
  --main-accent-color: #1878f1;
  --secondary-accent-color: #1878f1;
  --secondary-bg-color: #26374d;
  --secondary-btn-color: #202b40;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

header {
  padding: 13px;
  background-color: #1878f1;
}

.header {
  z-index: 1;
}

.tariff {
  padding: 10px 20px;
  text-align: start;
}

.main {
  overflow-y: auto;
}

.border {
  border: 1px solid white;
  padding: 10px 24px;
  border-radius: 35px;
}

.vertical-icon {
  margin-left: 17px;
  width: 50px;
}

.icon-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon menu a {
  padding-top: 90px;
}

.icon {
  width: 85px;
  background-color: #1878f1;
}

.icons-menu {
  margin-left: 1px;
  padding-top: 10px;
  width: 35px;
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 543px;
  background-color: #202b40;
  border-radius: 5px;
}

.out-icon {
  margin-top: 35px;
  margin-bottom: 27px;
  margin-left: 13px;
  width: 35px;
}

.home-inner {
  padding: 10px 0;
}

.home-text {
  padding-bottom: 30px;
  margin-top: 20px;

  font-size: 20px;
  color: #0c0c20;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.home-text h2 {
  text-transform: uppercase;
}

.home-card {
  width: 435px;
  background-color: #1878f1;
  border-radius: 4px;
}

.home-card hr {
  width: 411px;
  height: 1px;
  background-color: #202b40;
  border: none;
  margin-left: 12px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.home-proxi {
  display: flex;
  margin-left: 12px;
  margin-top: 15px;
  padding-top: 15px;
}

.home-proxi img {
  width: 40px;
}

.home-proxi p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%; /* 24px */
  padding-left: 20px;
  font-family: "Merriweather", serif;
}

.home-email {
  display: flex;
  margin-left: 12px;
}

.home-email p {
  color: #fff;
  font-size: 14px;
  line-height: 150%; /* 21px */
  font-family: "Montserrat", sans-serif;
  margin-right: 62px;
}

.home-card button {
  height: 30px;
  width: 35%;
  border-radius: 4px;
  background: #202b40;
  color: white;
  margin-left: 12px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.home-text h4 {
  font-family: "Montserrat", sans-serif;
}

.home-card2 {
  padding: 20px 16px;
  width: 435px;
  border-radius: 10px;
  background: #1878f1;
}

.home-qiwi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home-qiwi p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.home-input {
  position: relative;
}
.home-input img {
  position: absolute;
  margin-top: 15px;
  left: 10px;
  width: 12px;
  transform: translateY(-50%);
}
.home-input input {
  padding-left: 30px;
  width: 100%;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.home-input p {
  color: white;
  margin-bottom: 12px;
}

.home-sum {
  color: #ff5722;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  line-height: 150%;
}

.home-button {
  margin-top: 9px;
  width: 100%;
  text-align: center;
  color: black;
  background-color: white;
  height: 45px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.pay-text p {
  color: #b6b9c4;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin-top: 15px;
}

.pay-text h4 {
  color: #1878f1;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.pay-text button {
  border: 1px solid #1878f1;
  color: #1878f1;
  height: 40px;
  border-radius: 5px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin-left: 5px;
  cursor: pointer;
}

.history-pay h3 {
  margin-top: 20px;
  color: #0c0c20;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  margin-bottom: 15px;
}

.history-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-right: 80px;
}

.history-flex2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #0c0c20;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@media (max-width: 768px) {
  .history-pay {
    width: 100%;
    overflow: auto;
  }

  .tariff__footer-text--margin {
    margin-top: 90px;
  }

  .history-flex {
    padding-right: 10px;
  }

  .history-pay h3 {
    margin-top: 50px;
  }
}

@media (max-width: 420px) {
  .home-card2 {
    width: 100%;
  }

  .pay-text h4 {
    display: flex;
  }

  .button--transparent {
    margin-top: 15px;
  }

  .history-pay {
    width: 700px;
  }

  .tariff__footer-text--margin {
    margin-top: 124px;
  }
}
