@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-bg-color: #f3f6fb;
  --main-font-color: #0c0c20;
  --main-accent-color: #1878f1;
  --secondary-accent-color: #1878f1;
  --secondary-bg-color: #26374d;
  --secondary-btn-color: #202b40;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}


main .form {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 67px;
}

main .form .form-ticket {
  color: var(--main-font-color);
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 40px;
}

main .form .form-topic {
  color: var(--main-font-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
}

input:focus {
  outline-width: 0;
}

main .form .input-topic {
  height: 38px;
  border-radius: 3px;
  border: 1px solid var(--main-font-color);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 33px;
}

main .form .form-message {
  color: var(--main-font-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
}

main .form .input-message {
  height: 80px;
  border-radius: 3px;
  border: 1px solid var(--main-font-color);
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 33px;
}

main .form .btn-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

main .form .form-btn_files {
  box-sizing: border-box;
  padding: 11px 19px 11px 48.5px;
  background: var(--secondary-btn-color);
  font-weight: 500;
  border-radius: 5px;
  position: relative;
  line-height: 150%;
  color: #d7e2fe;
}

main .form .form-btn_files:hover{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

main .form .form-btn_files:before {
  content: url("../images/icons/icon.svg");
  display: inline-block;
  position: absolute;
  left: 19px;
  width: 19.5px;
  height: 19.5px;
}

main .form .form-btn_message {
  box-sizing: border-box;
  padding: 11px 12px;
  border-radius: 5px;
  border: 0;
  background: #51ff35;
  font-weight: 500;
  line-height: 150%;
  color: var(--main-font-color);
}

main .form .form-btn_message:hover{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

main .message-status {
  margin-bottom: 139px;
}

main .message-status_content {
  display: flex;
  text-decoration: none;
  align-items: flex-start;
  margin-bottom: 27px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aeb9cf;
}

main .message-status_desc_date{
  max-width: 317px;
  color: var(--main-font-color);
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

main .message-status_desc-problem{
  max-width: 317px;
  color: var(--main-font-color);
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

main .message-status-desc_date-time{
  max-width: 317px;
  color: var(--main-font-color);
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

main  .message-status_desc_status {
  max-width: 317px;
  color: var(--main-font-color);
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

main  .message-status_desc_topic{
  max-width: 317px;
  color: var(--main-font-color);
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

main .message-status_desc-btn {
  max-width: 317px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

main .message-status_desc-btn:hover{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

main .message-status_btn {
  padding: 10px;
  margin-right: 106px;
  margin-left: 67px;
  border-radius: 5px;
  background: var(--secondary-btn-color);
  color: #d7e2fe;
  justify-content: center;
  align-items: flex-start;
  border: none;
  font-weight: 500;
  line-height: 150%;
}

main .message-status_btn:hover{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

main .message-resolved{
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  border: none;
  font-weight: 500;
  line-height: 150%;
  background: #51FF35;
  color: var(--secondary-btn-color);
}

main .message-resolved:hover{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

main .message-delete_btn{
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  border: none;
  font-weight: 500;
  line-height: 150%;
  background: var(--secondary-btn-color);
  color: #d7e2fe;
}

main .message-delete_btn:hover{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

footer .footer-desc {
  margin-bottom: 20px;
}

@media screen and (max-width:1440px){
  main .message-status_btn{
    margin-right: 78px;
    margin-left: 67px;
  }
}
@media screen and (max-width:1280px){
  main .message-status_btn{
    margin-right: 12px;
    margin-left: 67px;
  }
}
@media screen and (max-width:1024px){
  main .message-status_btn{
    margin-right: 30px;
    margin-left: 50px;
  }
}

@media screen and (max-width:744px){

}

@media screen and (max-width:390px){
  main .form{
    margin-bottom: 56px;
  }
  main .form .btn-block{
    flex-direction: column;
  }
  main .form .form-btn_files{
    min-width: 342px;
    margin-bottom: 11px;
  }
  main .form .form-btn_files:before{
    left: 70px;
  }
  main .form .form-btn_message{
    min-width: 342px;
  }
  main .message-status .message-status_content{
    width: 680px;
    padding: 15px 0px;
  }
}
